<div class="button-list"><div class="container">

<a class="button dashboard active" href="#/pannel/dashboard">
  <div class="icon"></div>
  <div class="name">DASHBOARD</div>
</a>
<a class="button devices" href="#/pannel/devices">
  <div class="icon"></div>
  <div class="name">MY DEVICES</div>
</a>
<a class="button preference" href="#/pannel/preference">
  <div class="icon"></div>
  <div class="name">PERFERENCE</div>
</a>
<a class="button about" href="#/pannel/about">
  <div class="icon"></div>
  <div class="name">ABOUT</div>
</a>

</div></div>
