.pannel {
	margin: auto;
	width: 760px;
	height: 485px;
	background: #DFF1FE; /* Old browsers */
	background: -moz-linear-gradient(top,  #DFF1FE 0%, #ffffff 5%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DFF1FE), color-stop(5%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #DFF1FE 0%,#ffffff 5%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #DFF1FE 0%,#ffffff 5%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #DFF1FE 0%,#ffffff 5%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #DFF1FE 0%,#ffffff 5%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFF1FE', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 5px #000;
}

.pannel .container {
	position: relative;
}
